:root, [data-bs-theme=light] {
  --bs-body-color: #cbd4f5;
  --bs-body-color-rgb: 203,212,245;
  --bs-secondary-color: rgba(203,212,245,0.75);
  --bs-secondary-color-rgb: 203,212,245,0.75;
  --bs-tertiary-color: rgba(203,212,245,0.5);
  --bs-tertiary-color-rgb: 203,212,245,0.5;
  --bs-body-bg: #242637;
  --bs-body-bg-rgb: 36,38,55;
}

